.profilePage {
    width: 80%;
    max-width: 80rem;
    margin: 3rem auto;
}

.profileContent {
    border-radius: 6px;
    padding: 1rem;
    background-color: #5a5563;
}

.profileActions {
    padding-top: 1rem;
}

.profileActions button {
    background-color: #b68ef7;
    color: #0a0218;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font: inherit;
}